<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.achraf.mydiaries">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/mydiary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mydiary_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewDiarieActivity" />

        <provider
            android:name=".DB.MyContentProvider"
            android:authorities="diary.get"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DiaryPlayer" />
        <activity android:name=".DiaryEditing" />
        <activity android:name=".OptionsStuff.OptionsActivity" />

        <provider
            android:name=".DB.MyContentProviderOptions"
            android:authorities="diary.option.get"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".OptionsStuff.PseudoOptionActivity" />
        <activity android:name=".OptionsStuff.PasswordOptionActivity" />
        <activity android:name=".Checkers.PasswordCheckerActivity" />
        <activity android:name=".OptionsStuff.ThemeOptionActivity"></activity>
    </application>

</manifest>